/*Stilar för mobila enheter (mindre än 900px)*/


body{
    background-image: url(https://img.freepik.com/free-vector/background-wave-abstract-colorful-gradient-style_483537-2250.jpg?w=1060&t=st=1695282344~exp=1695282944~hmac=907c76a120b4965863bfc922c6374c353e3ac53755b965ee0805920ede270239);
    font-size: 17px;
}

/* Stilar för tablets (768px - 1024px)*/ 

body{

 @media screen and (min-width:768px) and (max-width:1024px) {
    font-size: 19px;
 }
 
/* Stilar för stora skärmar (1440px - och större) */
body{
    @media screen and (min-width:1440px) {
    font-size: 24px;
        
    }
} 
        
        
 
}
#RUBRIKEN{
 text-shadow: 2px 2px rgb(87, 206, 87);
   background-color: black;
}



.grid-container{
    display: grid;
    color: black;
    grid-template-columns: auto auto auto;
    background-color: white;
    background-size: 10%;
    height: 50vh;
    margin-top: -10px;




}
.img{
    width: 100%;
    height: auto;
    background-size: contain;
   margin-left: 35%;
   position:relative
}


.container{
    display: grid;
    place-items: center;
    height: 100vh;
}

form{
    color: white;
    float: right;
}

p{
    color: rgb(255, 255, 255);
    border-bottom: 2px white;
    text-align: justify;
    position: relative;
    top: 10%;

}

h2{
    color: white;
    border: 20px;
    text-align: justify;
    border-radius: 15px;
}

img{
    width: 100%;
    -webkit-box-reflect: right;
    height: auto;
    margin-right: 30%;
}

ul{
    font-style:italic;
    font-size: medium;
    color: aliceblue;

}